/* 
Trebuchet MS = display: font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 Portada Reg = body: font-family: portada, serif; font-weight: 400; font-style: normal;
*/

.container {
  background-color: whitesmoke;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.save-destination, #input-username{
  display: block;
  width: 16%;
  margin: 15px 0px 0px 40px;
}


.icon{
  float: right;
  margin-top: -125px;
  height: 150px;
  width: 150px;
}

/* sun pages blue #255766--Blue Green with orange Orange--#CF5B2F accent 
whitesmoke on both */


.sun{
  background-color:#CF5B2F;
}

.sun h3{
  color: #CF5B2F
}

.sun p,.sun h1, .sun h2,.sun li, .sun #dest{
  color: #255766;
}

.sun a, .sun .save-destination, .sun #input-username{
  color:#255766;
  border-right: 5px solid #255766;
  border-left: 5px solid #255766;
}

.sun a:hover, .sun .save-destination:hover{
  color: whitesmoke;
  background-color: #255766;
}

.sun button a {
  color:#255766;
  border-left: 5px solid #255766;
  border-right: 5px solid #255766;
}

.sun button :hover{
  background-color: #255766;
  color: whitesmoke; 
}

.sun footer {
  border-color: #255766;
}

/* snow pages blue #397dcf--*New* Blue because of pics with cranberry #802E1B--Cranberry accent */

.snow {
  background-color: #397dcf;
}

.snow h3 {
  color: #397dcf;
}
.snow h1 {
  color: #662027;
}

.snow p{
  color: #662027;
}

.snow footer a:hover {
  background-color:#662027;
}

/* If not specifically tagged for .sun section applies for snow and both */

body {
  margin: 20px;
}

main {
  padding: 0% 10%;
}

a, .save-destination, #input-username{
  text-decoration: none;
  text-align: center;
  color: #662027;
  font-size: 16px;
  font-family: portada, serif; 
  font-weight: 500;
  margin-bottom: 0px;
  border-right: 5px solid #662027;
  border-left: 5px solid #662027;
  padding: 2px 8px;
  width: 200px;
}

#input-username{
  text-align: center;
  font-size: 12px;
  width: 100px;
}


a:hover, .save-destination:hover{
  background-color: #662027;
  color:whitesmoke
}

header{
  padding: 5% 5% 2%;
  }
  
nav {
  float: right;
  }

#dest {
  color: #662027;
  font-family: portada, serif; 
  font-weight: 400; 
  font-style: normal;
  font-size: 16px;
  background-color: whitesmoke;
  border: none;
  width: 200px;
}

h1 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 42px;
  text-align: center;
  color: #662027;
  text-align: center;
  margin: 0px auto 30px;
}

h2 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 26px;
  text-align: center;
  color: #662027;
  text-align: center;
  margin: 0px auto 15px;
  text-decoration: underline;
}

h3 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 20px;
  text-align: center;
  color: #662027;
  text-align: center;
  font-weight: 500;
}


#hero {
  margin: 0px auto 40px;
}

#scroll {
  height: 225px;
  overflow: scroll;
  text-align: left;
  font-size: 15px;
  font-family: portada, serif; font-weight: 400; font-style: normal;
  line-height: 1.5;
  margin: 10px auto 50px;
  width: 90%;
  padding-bottom: 20px;
}

#duplicate-dest {
  margin: 15px 0px 0px 75px;
  height: 200px;

}

#info-links {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}

#links a, #events a{
  border: none;
}

li {
  text-align: center;
  font-size: 15px;
  font-family: portada, serif; font-weight: 400; font-style: normal;
  line-height: 1.5;
  color: #662027;
  border: none;
}


#temps-list{
  columns: 2;
}


p {
  height: 200px;
  text-align: left;
  font-size: 15px;
  font-family: portada, serif; font-weight: 400; font-style: normal;
  line-height: 1.2;
  margin: 0px auto;
}




footer a {
  text-decoration: none;
  color: #662027;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 15px;
  border-right: 5px solid #662027;
  border-left: 5px solid #662027;
  padding: 2px 8px;
}

footer a:hover{
  background-color: #255766;
  color:whitesmoke
}

footer p {
  overflow: auto;
  text-decoration: none;
  text-align: left;
  color: #255766;
  font-size: 15px;
  line-height: 3;
  font-weight: 500;
  margin: 15px auto;
  height: auto;
}

footer{
  text-align: left;
  margin: 80px auto 0px;
  font-family: portada, serif; 
  font-weight: 400; 
  font-style: normal;
  border-top: 1px solid #662027;
  padding: 40px 0px;

  width: 90%;
}

/* ---------------------------- */

/* responsive down to tablet size 992px and above*/

@media screen and (max-width: 1200px) {

  h1 {
    font-size: 36px;
  }

  h3 {
    font-size: 18px;
  }
  h4 {
    font-size: 16px;
  }

  /* #hero {
    height: 300px;
    width: 600px;
  } */
}
