

.thumbnail {
  height: 200px;
  width: 300px;
}

body {
  background-color: whitesmoke;
}

header{
  padding: 5% 5% 2%;
  }
  
nav {
  float: right;
  }

#dest {
  color: #662027;
  font-family: portada, serif; 
  font-weight: 400; 
  font-style: normal;
  font-size: 16px;
  background-color: whitesmoke;
  border: none;
  width: 200px;
}
main {
  padding: 0% 10%;
}
#hero {
  display: flex;
  justify-content: space-evenly;
  margin: 40px auto 60px;
}

h1 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 42px;
  text-align: center;
  color: #662027;
  text-align: center;
  margin: 0px auto 30px;
}

h2 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 26px;
  text-align: center;
  color: #662027;
  text-align: center;
  margin: 0px auto 15px;
  text-decoration: underline;
}

h3 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 20px;
  text-align: center;
  color: #662027;
  text-align: center;
  font-weight: 500;
}

.save-destination, #input-username, #clear-button{
  display: block;
  width: 16%;
  margin: 15px auto 40px;
}


a, .save-destination, #input-username, #clear-button{
  text-decoration: none;
  text-align: center;
  color: #662027;
  font-size: 16px;
  font-family: portada, serif; 
  font-weight: 500;
  margin-bottom: 0px;
  border-top: none;
  border-bottom: none;
  border-right: 5px solid #662027;
  border-left: 5px solid #662027;
  padding: 2px 8px;
  width: 200px;
}

a:hover, .save-destination:hover, #clear-button:hover{
  background-color: #662027;
  color:whitesmoke
}

#input-username{
  text-align: center;
  font-size: 12px;
  width: 100px;
}
#input-username{
  color: #662027}

#clear-button{
  width: 50px;
  background-color: white;
}

hr {
  width: 90%;
  border: .5px solid #662027;
}
#saved {
  columns: 2;
  width: 80%;
  margin: 50px auto 0px;
}

#saved a{
  border: none;
}

li {
  text-align: center;
  font-size: 15px;
  font-family: portada, serif; font-weight: 400; font-style: normal;
  line-height: 1.5;
  color: #255766;
  border: none;
}


p {
  text-align: center;
  font-size: 20px;
  font-family: portada, serif; font-weight: 400; font-style: normal;
  line-height: 1.5;
  margin: 20px 10px;
}

footer a {
  text-decoration: none;
  color: #662027;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 15px;
  border-right: 5px solid #662027;
  border-left: 5px solid #662027;
  padding: 2px 8px;
}

footer a:hover{
  background-color: #662027;
  color:whitesmoke
}

footer p {
  overflow: auto;
  text-decoration: none;
  text-align: left;
  color: #255766;
  font-size: 15px;
  line-height: 1.5;
  font-weight: 500;
  margin: 15px 0px;
  height: auto;
}

footer{
  text-align: left;
  margin: 150px auto 0px;
  font-family: portada, serif; 
  font-weight: 400; 
  font-style: normal;
  border-top: 1px solid #662027;
  padding: 40px 0px;

  width: 90%;
}
