/* #CF9F6A--Dark Tan; #F4E4C4--Light Tan; #255766--Blue Green;
#76913B--Sage Green; #A24531--Terracotta; whitesmoke--Offwhite; #802E1B--Brick Red
Trebuchet MS = display: font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 Portada Reg = body: font-family: portada, serif; font-weight: 400; font-style: normal;
*/


/* FIX DROPDOWN CLICK BOX, DROPDOWN STYLING, HOVER STATE buttons,
flip criteria placement */

.thumbnail {
  height: 200px;
  width: 300px;
}

body {
  background-color: whitesmoke;
}

nav {
  float: right;
  margin: 40px;
}


#hero-image {
  background-image: url(../img/hero-at-night.jpg);
  background-repeat: no-repeat;
  margin: 40px auto 40px;  
  width: 85%;
  height: 600px;
  border: 5px solid #255766;
}

#hero-image h1 {
  color:whitesmoke;
}

hr {
  width: 95%;
  border: .5px solid #662027;
}

#criteria {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}


h1 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 42px;
  text-align: center;
  padding-top: 80px;
  color: whitesmoke;
}

/* The flip box container - set the width and height to whatever you want. We have added the border property to 
demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-box {
  background-color: transparent;
  height: 200px;
  width: 300px;
  margin: 50px;
  border: 5px solid #255766;
}

/* This container is needed to position the front and back side */
.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do a horizontal flip when you move the mouse over the flip box container */
.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-box-front {
  background-color: #662027;
  color:whitesmoke;
}

/* Style the back side */
.flip-box-back {
  background-color: #255766;
  color: whitesmoke;
  transform: rotateY(180deg);
}

h2 {
  font-family: portada, serif; 
  font-weight: 400; 
  font-style: normal;
  font-size: 26px;
  color: whitesmoke;
  padding-top: 50px;

}

#see-saved-button{
  margin: 30px;
}

h3 {
  font-family: portada, serif; 
  font-weight: 400; 
  font-style: normal;
  font-size: 26px;
  color: #255766;
}

p {
  text-align: center;
  font-size: 20px;
  font-family: portada, serif; font-weight: 400; font-style: normal;
  line-height: 1.5;
  margin: 20px auto;
}


button {
  background-color: #662027;
  border: 3px solid #662027;
  border-radius: 3%;
}


button :hover{
  background-color: whitesmoke ;
  color: #662027; 
  border: 5px solid whitesmoke;
  border-radius: 3%;
}

#select-explain {
  text-align: center;
  font-family: portada, serif; 
  font-weight: 400; 
  font-style: normal;
}


a {
  text-decoration: none;
  color: whitesmoke;
  font-size: 16px;
}

footer a {
  text-decoration: none;
  color: #662027;
  font-size: 18px;
  line-height: 3;
  font-weight: 500;
  margin-bottom: 15px;
}

footer a:hover{
  border-right: 15px solid #255766;
  border-left: 15px solid #255766;
  border-radius: 3%;
  padding: 10px 10px;
}

footer p {
  text-decoration: none;
  color: #255766;
  font-size: 15px;
  line-height: 3;
  font-weight: 500;
  margin-bottom: 15px;
}

footer{
  text-align: center;
  max-height: 50px;
  margin: 200px auto 50px;
  font-family: portada, serif; 
  font-weight: 400; 
  font-style: normal;
  border-top: 1px solid #662027;
  padding-top: 20px;

  width: 95%;
}


